################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/skillboardAPI/bin/Debug/netcoreapp1.0
/skillboardAPI/obj/Debug/netcoreapp1.0
